---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";

const title = "Privacy Policy";
const meta_title = "Privacy Policy - Dancing Macaw";
const description = "Privacy Policy Overview";
---

<Base title={title} meta_title={meta_title} description={description}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="content">
        <h2>1. Privacy Policy for this Website</h2>
        <p>
          General information about hosting, server logs, cookies, and contact
          forms.
        </p>

        <hr class="my-8" />

        <h2>2. Privacy Policies for our Products</h2>
        <p>Here you can find specific provisions for the use of our apps:</p>

        <div class="row">
          <div class="col-12 md:col-6 mb-4">
            <div
              class="bg-theme-light dark:bg-darkmode-theme-light p-6 rounded"
            >
              <h3>LinkNest App</h3>
              <p>Stores data only locally / uses Firebase / etc.</p>
              <a href="/dataprivacy/linknest" class="btn btn-primary mt-4"
                >Read Policy</a
              >
            </div>
          </div>
          <div class="col-12 md:col-6 mb-4">
            <div
              class="bg-theme-light dark:bg-darkmode-theme-light p-6 rounded"
            >
              <h3>Rule of Three Game</h3>
              <p>Uses Unity Analytics / AdMob / etc.</p>
              <a href="/dataprivacy/rule-of-three" class="btn btn-primary mt-4"
                >Read Policy</a
              >
            </div>
          </div>
        </div>

        <hr class="my-8" />

        <h2>3. Rights of the Data Subject</h2>
        <p>
          Right to access, rectification, erasure, etc. (Applies to all
          products).
        </p>
      </div>
    </div>
  </section>
</Base>
