---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { markdownify } from "@/lib/utils/textConverter";

const title = "Impressum";
const meta_title = "Impressum - Dancing Macaw";
const description = "Impressum / Legal Information";
---

<Base title={title} meta_title={meta_title} description={description}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="content">
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
          Daniel Möck<br />
          c/o IP-Management #2816<br />
          Ludwig-Erhard-Straße 18<br />
          20459 Hamburg
        </p>

        <h2>Kontakt</h2>
        <p>E-Mail: info@dancingmacaw.com</p>
        <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
      123</p>
      </div>
    </div>
  </section>
</Base>
